* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.primary-color {
  color: #e95a08;
}

.main > section {
  margin-top: 120px;
}

.section-title {
  font-size: 3.125rem;
  font-weight: 700;
}

.section-description {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Header */

/* Nav Styles */
.nav {
  margin-top: 30px;
  margin-bottom: 120px;
  justify-content: space-between;
}

.nav-items {
  justify-content: space-between;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.nav-items li {
  list-style-type: none;
}

.nav-items li a {
  text-decoration: none;
  font-size: 1rem;
  color: #8987a1;
}

#nav-home {
  font-weight: 700;
  color: #252432;
}

#nav-cart {
  color: #000000;
}

.cart {
  display: none;
}

/* Banner Styles */
.banner-left {
  width: 50%;
  align-items: end;
}
.banner-left h1 {
  font-size: 4.1rem;
  font-weight: 700;
  margin-bottom: 13px;
}

/* Our Plants Section Styles */
.plants-content {
  text-align: center;
  width: 888px;
  margin: auto;
  margin-bottom: 49px;
}
.plants-description {
  margin-top: 16px;
}

/* Card Styles */
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}

.card {
  width: 270px;
}

.card-img {
  width: 100%;
}

.card-description {
  margin: 30px auto;
  text-align: center;
  font-size: 1.375rem;
  font-weight: 500;
}

.card-price {
  font-weight: 700;
}

.card-btn {
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e95a08;
  border: none;
  text-align: center;
  justify-content: center;
  padding: 20px 50px;
}

/* Flower Plants Love Section */
.flower-love-section {
  position: relative;
}
.flower-plants-love {
  align-items: center;
  gap: 5.3%;
}

.flowers-love-content {
  width: 47%;
}

.flower-plants-love ul li {
  margin-top: 30px;
}

.trusted-badge {
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
  width: 286px;
  height: 286px;
  position: absolute;
  bottom: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
}

/* Latest  Deals */
.latest-deals {
  text-align: center;
}

.latest-deals h1 {
  margin-bottom: 16px;
}

.latest-deals h1 span {
  color: rgb(233, 90, 8);
}

/* photo section */
.img-container {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  align-items: center;
}

.img-column {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}

.bloom-img {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-bloom.png);

  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  width: 366.22px;
  height: 206px;
  text-align: center;
  align-content: center;
}

.ana-img {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  border-radius: 20px;
  background-size: cover;
  width: 366.22px;
  height: 206px;
  text-align: center;
  align-content: center;
}

.left-heading {
  font-size: 20px;
  font-weight: bold;
}

.left-shop-now {
  font-size: 16px;
  font-weight: 500 !important;
}

.zabo-img {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../assets/deal-zabo.png);
  border-radius: 20px;
  width: 753px;
  height: 423.13px;
  text-align: center;
  align-content: center;
}

.zabo-shop-now {
  font-size: 28px;
  font-weight: 400 !important;
}

.white-color {
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

/* email-section */
.email-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  margin: 60px auto;
  max-width: 100%;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-section h3 {
  color: rgb(255, 255, 255);
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.email {
  display: flex;
  gap: 0;
}

.email-input {
  border: none;
  width: 644px;
  height: 50px;
  padding: 8px 20px;
}

.subscribe-btn {
  width: 186px;
  height: 50px;
  background: rgb(233, 90, 8);
  border: none;
  padding: 10px 50px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-evenly;
}

.footer-item {
  max-width: 25%;
}

.social-media {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
}

footer > section > div:nth-child(2) ul li,
footer > section > div:nth-child(3) ul li {
  list-style: none;
  margin-bottom: 30px;
}

footer > section > div:nth-child(2) ul li a,
footer > section > div:nth-child(3) ul li a {
  text-decoration: none;
  color: rgb(137, 135, 161);
}

footer {
  margin-bottom: 50px;
}

/* media query responsive */
@media screen and (max-width: 576px) {
  .banner-container {
    flex-direction: column-reverse;
  }
  .flower-plants-love {
    flex-direction: column;
  }
  .banner-img {
    width: 100%;
  }

  .banner-left {
    margin: 28px 16px 65px;
    width: 361px;
  }

  .nav-logo {
    width: 63px;
    height: 38px;
  }

  .nav-items {
    display: none;
  }
  .cart {
    display: block;
  }

  .cart > a {
    text-decoration: none;
  }

  .nav {
    align-items: center;
    margin: 20px 16px 28px;
  }

  .plants-content {
    text-align: center;
    width: 336px;
    margin: auto;
    margin-bottom: 49px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 28.5px 5px;
  }
  .card {
    width: 171px;
    margin: auto;
  }
  .card-img {
    width: 100%;
  }
  .card-btn {
    padding: 20px 30px;
  }
  .trusted-badge {
    display: none;
  }
  .flower-love-section-img {
    width: 95%;
  }
  .flowers-love-content {
    width: 361px;
  }
  .flower-love-title {
    font-size: 1.5rem;
    margin-top: 18px;
  }

  .flowers-love-text {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .flower-plants-love ul li {
    margin-top: 16px;
  }

  /* latest deals and img */
  .latest-deals {
    max-width: 90%;
  }

  /* deal photo */

  .img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
    margin: 0 auto;
  }

  .bloom-img {
    width: 480px;
    height: 230.13px;
  }

  .ana-img {
    width: 480px;
    height: 230.13px;
  }

  .zabo-img {
    width: 480px;
    height: 230.13px;
  }

  /* email section */
  .email-section h3 {
    font-size: 35px;
    font-weight: 700;
  }

  .email-input {
    border: none;
    width: 100%;
    height: 50px;
    padding: 8px 20px;
  }

  .subscribe-btn {
    width: 40%;
    height: 50px;
    padding: 10px 30px;
  }

  /* footer */
  footer {
    margin-bottom: 70px;
  }
  .footer {
    display: grid;
    justify-content: flex-start;
    gap: 20px;
    max-width: 80%;
  }

  .footer-item {
    max-width: 100%;
  }

  .social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
